@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("./styles/root.css");
@import url("./styles/light-reboot.css");
@import url("./styles/components.css");
@import url("./styles/common.css");
@import url("./styles/header.css");
@import url("./styles/footer.css");
@import url('./styles/home-page.css');
@import url('./styles/signin-page.css');
@import url('./styles/companyPart-page.css');




