/* button common start*/

.button {
  padding-block: 10px;
  padding-inline: 15px;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  background-color: black;
  color: white;
}

/* button common end*/
