.companyPart__wrapper {
  height: calc(100vh - 150px);
  padding: 20px 20px 20px 0px;
}

.companyPart__inner {
  padding-left: 30px;
  display: flex;
  flex-flow: column nowrap;
  row-gap: 30px;
}

.companyPart__title {
  width: max-content;
  padding: 10px;
  border-radius: var(--borderRadius);
  background-color: var(--depWeb);
  color: var(--white);
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
}

.companyPart__title.depDesignBg {
  background-color: var(--depDesign);
}

.companyPart__content {
  padding-left: 30px;
}

.companyPart__content > *:not(:last-child) {
  margin-bottom: 20px;
}

.companyPart__description {
  min-width: 70%;
  max-width: 90%;
  line-height: 24px;
}

.companyPart__headLink {
  display: inline-block;
  font-size: 14px;
  color: var(--depWeb);
  font-style: italic;
}

.companyPart__head {
  position: relative;
}

.companyPart__head::after {
  content: "\2192";
  position: absolute;
  top: -1px;
  right: -20px;
  font-size: 16px;
}

.companyPart__subordinate :first-child {
  margin-left: 40px;
}
.companyPart__subordinate :last-child {
  margin-left: 15px;
}

.companyPart__subordinateLink {
  background-color: var(--depWeb);
}

.companyPart__subordinateLink.depDesignBg {
  background-color: var(--depDesign);
}

.companyPart__actions-link {
  background-color: var(--btn-success);
}
