/* button common start*/

.button {
  padding-block: 10px;
  padding-inline: 15px;
  border: none;
  border-radius: var(--borderRadius);
  outline: none;
  cursor: pointer;
  background-color: black;
  color: var(--white);
}

/* button common end*/
