.companyPart {
}

.companyPart__wrapper {
  height: calc(100vh - 150px);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

.companyPart__title {
  text-align: center;
  margin-bottom: 40px;
}

.companyPart__content {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 30px;
}

.companyPart__description {
  font-size: 1rem;
  line-height: 1.3;
  text-align: left;
}

.companyPart__actions {
  display: flex;
  align-items: center;
  justify-content: center;
}

.companyPart__actions-wrapper {
  padding: 15px 10px;
  box-shadow: 1px 1px 1px 2px var(--shadow-light);
  flex: 0 0 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 80px;
  border-radius: var(--borderRadius);
}

.companyPart__actions-wrapper :first-child {
    background-color: var(--btn-error);
}

.companyPart__actions-wrapper :last-child {
    background-color: var(--btn-success);
}

