.companyPart {
}

.companyPart__wrapper {
  height: calc(100vh - 150px);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

.companyPart__inner {
  padding: 20px;
  min-width: 70%;
  max-width: 90%;
  box-shadow: 1px 1px 1px 2px var(--shadow-light);
}

.companyPart__title {
  text-align: center;
  margin-bottom: 40px;
}

.companyPart__content {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 30px;
}

.companyPart__description {
  font-size: 1rem;
  line-height: 1.3;
  text-align: left;
}

.companyPart__headLink {
  font-size: 14px;
  color: var(--depWeb);
  font-style: italic;
}

.companyPart__head {
  position: relative;
}

.companyPart__head::after {
  content:'\2192';
  position: absolute;
  top: -1px;
  margin-left: 7px;
  display: inline-block;
  font-size: 16px;
}

.companyPart__actions-wrapper {
  float: right;
}

.companyPart__actions-link {
  display: inline-block;
}

.companyPart__actions-wrapper :first-child {
    background-color: var(--btn-error);
    margin-right: 8px;
}

.companyPart__actions-wrapper :last-child {
    background-color: var(--btn-success);
}

