.branchPage__wrapper {
  height: calc(100vh - -150px);
}

.branchPage__inner {
  padding-left: 30px;
  display: flex;
  flex-flow: column nowrap;
  row-gap: 30px;
}

.branchPage__title {
  width: max-content;
  padding: 10px;
  background-color: var(--depWeb);
  color: var(--white);
  font-size: 18px;
  font-weight: 500;
  border-radius: var(--borderRadius);
  line-height: 27px;
}

.branchPage__title.depDesignBg {
  background-color: var(--depDesign);
}

.branchPage__description {
  min-width: 70%;
  max-width: 90%;
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 15px;
  border-bottom: 1px solid var(--border-color-main);
}

.branchPage__employees {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 20px;
}

.branchPage__employees-list {
  width: 400px;
  max-width: 90%;
  padding: 10px 10px 10px 25px;
}

.branchPage__employees-item:not(:last-child) {
  margin-bottom: 20px;
} 

.branchPage__employees-item-wrapper {
  padding: 16px;
  background-color: var(--depWeb);
  color: var(--white);
  border-radius: var(--borderRadius);
  font-size: 14px;
}

.branchPage__employees-item-wrapper.depDesignBg {
  background-color: var(--depDesign);
}

.branchPage__employees-item-wrapper:not(:last-child) {
  margin-bottom: 20px;
}

.branchPage__employees-item-name {
  text-align: center;
  margin-bottom: 10px;
  font-size: 16px;
}

.branchPage__employees-item-info > div {
  display: flex;
  justify-content: space-between;
}

.branchPage__employees-item-info > div:not(:last-child) {
  margin-bottom: 5px;
}


.branchPage__employees-item-info > div > span:last-child {
  min-width: 170px;
  text-align: left;
}

.branchPage__employees-item-link {
  margin-top: 10px;
  display: inline-block;
  font-style: italic;
}

/* .branchPage__wrapper {
  height: calc(100vh - 150px);
}

.branchPage__content {
  width: 450px;
  max-width: 100%;
  display: flex;
  flex-flow: column nowrap;
  row-gap: 24px;
  padding: 20px;
}

.branchPage__title {
  font-size: 20px;
}

.branchPage__title > span {
  font-size: 24px;
  display: inline-block;
  margin-left: 30px;
  padding-inline: 15px;
  padding-block: 10px;
  background-color: lightblue;
  border-radius: 5px;
}

.branchPage__employee-list {
    padding-left: 20px;
}

.branchPage__employee-item {
  position: relative;
  padding: 15px 0px 15px 30px;
  color: var(--depWeb);
  font-size: 18px;
  background-color: rgb(243, 243, 243);
  border-radius: var(--borderRadius);
}

.branchPage__employee-item:not(:last-child) {
    margin-bottom: 20px;
}

.branchPage__employee-link::after {
  position: absolute;
  top: 14px;
  content: "\2192";
  font-size: 20px;
  margin-left: 10px;
}
 */
