.footer {
  height: 55px;
}

.footer__info {
  padding: 17px 0px 18px;
  border-top: 1px solid var(--shadow-light);
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
}
