.header {
  margin-bottom: 20px;
  height: 75px;
}

.header__actions {
  padding-block: 20px;
  padding-inline-start: 15px;
  display: flex;
  flex-flow: row nowrap;
  column-gap: 20px;
  box-shadow: 0px 2px 8px 1px var(--shadow-light);
}

.header__actions-link {
  background-color: var(--btn-primary);
  color: var(--white);
  display: inline-block;
  padding: 10px;
  border-radius: var(--borderRadius);
  font-size: 14px;
  line-height: 1;
}
