*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  background-color: transparent;
  text-decoration: none;
}

/* section {
  padding: 20px 0px;
} */
