:root {
  --mainCompany: rgb(136, 10, 10);
  --white: white;
  --black: #000000;
  --borderRadius: 5px;
  --depWeb: #3325d5;
  --depDesign: rgb(99, 45, 154);
  --shadow-light: rgb(192, 189, 189);
  --btn-primary: #c1b029;
  --btn-success: green;
  --btn-error: crimson;
  --border-color-main: rgb(95, 94, 94);
  --border-color-dark: rgb(50, 43, 43);
}

html {
  min-height: 100%;
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 100%;
}
