
.signinPage__wrapper {
 /*  height: 100vh; */
  position: relative;
}

.signinPage__inner {
  box-shadow: 1px 7px 22px 3px var(--shadow-light);
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  padding: 30px 50px;
  display: flex;
  flex-flow: column nowrap;
}

.signinPage__title {
  padding: 10px 10px 30px;
  font-size: 28px;
  color: var(--depDesign);
}

.signinPage__form-wrapper {
  display: flex;
  flex-direction: column;
}

.signinPage__formControl {
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  row-gap: 7px;
}

.signinPage__formControl label {
  font-size: 12px;
}

.signinPage__formControl input {
  height: 44px;
  border-radius: var(--borderRadius);
}

.signinPage__form-btn {
  padding-block: 15px;
  width: 30%;
  margin-left: auto;
  background-color: var(--depDesign);
}
